html,
body,
#__nuxt {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html.dark {
  background: #444;
  color: #ffffee;
}

tbody td {
  text-align: center;
}

.scroll-style::-webkit-scrollbar, pre::-webkit-scrollbar {
  display: block;
  background: rgba(0,0,0,0.1);
  height: 8px;
  width: 8px;
  border-radius: 4px;
}
.scroll-style::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.25);
}

html.dark .scroll-style::-webkit-scrollbar, html.dark pre::-webkit-scrollbar {
  background: #777;
}

html.dark .scroll-style::-webkit-scrollbar-thumb, html.dark pre::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
}

html.dark .scroll-style::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5);
}
